@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fondamento:ital@0;1&display=swap");

.input {
  display: flex;
  justify-content: right;
  gap: 30px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 7px;
  background-color: gray;
  height: 40px;
  margin-top: -5px;
}

.value {
  border: none;
  background-color: gray;
  font-size: larger;
  font-family: Fira Code;
}

.value:hover,
.value:active {
  background-color: #393737;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset,
    rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
    rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
  transition: 0.2s ease;
  border-radius: 6px;
  padding-block: 5px;
}


